<app-header></app-header>
<div class="main-container">
    <nav>
        <h3>Debut Infotech Pvt. Ltd.</h3>
    </nav>  
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3430.4227999020477!2d76.68261095019865!3d30.70651228155626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390feeff835d50db%3A0x4e91e908ab737897!2sDebut%20Infotech!5e0!3m2!1sen!2sin!4v1574919203076!5m2!1sen!2sin" width="1200" height="250" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" style="margin-top: 100px;">
    
        <label class="mr-3">
        First Name:
        <input type="text" formControlName="firstName" class="form-control ">
        </label>
    
        <label class="mr-3">
        Last Name:
        <input type="text" formControlName="lastName" class="form-control">
        </label>

        <div formGroupName="address">
            <h3>Address</h3>
            
        <label class="mr-3">
                Street:
                <input type="text" formControlName="street" class="form-control">
            </label>
            
        <label class="mr-3">
                City:
                <input type="text" formControlName="city" class="form-control">
            </label>
            
        <label class="mr-3">
                State:
                <input type="text" formControlName="state" class="form-control">
            </label>
            
        <label class="mr-3">
                Zip Code:
                <input type="text" formControlName="zip" class="form-control">
            </label>
        </div>

        <button type="submit" [disabled]="!profileForm.valid" class="btn btn-info">Submit</button>   

    </form>
</div>